body {
    font-family: "Montserrat";
}


h1{
    font-family: "Montserrat-Black", 'sans-serif';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}


h3 {
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: white;
}

/* features section */
#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* title image section */

.phone-img {
    margin-left: 10%;
    text-align: right;
    width: 60%;
    transform: rotate(25deg);
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Download Buttons */

.download-btn-single {
    margin: 5% 3% 5% 0;
}

/* icons */

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.icon:hover {
    color: #ff4c68;

}

/* testimonial section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
    font-family: "Montserrat";
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
