body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* all headings */

.big-heading {
  font-family: "Montserrat-Black", "sans-serif";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* features section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

/* title image section */

.phone-img {
  margin-left: 10%;
  /* text-align: right; */
  right: 20%;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* title section */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download Buttons */

.download-btn-single {
  margin: 5% 3% 5% 0;
}

/* icons */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;
  color: white;
  font-family: "Montserrat";
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/* carousel section */
/* why this is needed? -> in order to keep our next and previous buttons outside our slider  */


/* press section */

#press {
  background-color: #ef8172;
  padding-bottom: 2rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-heading {
  font-size: 2rem;
  font-weight: bold;
}

/* call to action section - (CTA) */

#cta {
  background-color: #ff4c68;
  color: #fff;
}


/* footer section */

.social-icon {
  margin: 20px 10px;
}

/* media queries */

@media (max-width: 992px) {

  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0deg);
  }
}
